<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
.fieldError {
border-color: #bd2130;
}
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" action="/users/new" th:object="${userForm}"
          method="post">
        <div class="form-group">
            <label th:for="name">이름</label>
            <input type="text" th:field="*{name}"
                   placeholder="이름을 입력하세요"
                   th:class="${#fields.hasErrors('name')}? 'form-control
fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('name')}"
               th:errors="*{name}">Incorrect data</p>
        </div>
        <div class="form-group">
            <label th:for="email">이메일</label>
            <input type="text" th:field="*{email}"
                   placeholder="이메일을 입력하세요"
            th:class="${#fields.hasErrors('email')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('email')}"
               th:errors="*{email}">Incorrect data</p>
        </div><div class="form-group">
            <label th:for="picture">사진</label>
            <input type="text" th:field="*{picture}" class="form-control"
                   placeholder="사진을 업로드하세요">
        </div><div class="form-group">
            <label th:for="city">도시</label>
            <input type="text" th:field="*{city}" placeholder="도시를 입력하세요"
            th:class="${#fields.hasErrors('city')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('city')}"
               th:errors="*{city}">Incorrect data</p>
        </div>
        <div class="form-group">
            <label th:for="street">거리</label>
            <input type="text" th:field="*{street}" placeholder="거리를 입력하세요"
                   th:class="${#fields.hasErrors('city')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('street')}"
               th:errors="*{street}">Incorrect data</p>
        </div>
        <div class="form-group">
            <label th:for="zipcode">우편번호</label>
            <input type="text" th:field="*{zipcode}" placeholder="우편번호를 입력하세요"
                   th:class="${#fields.hasErrors('zipcode')}? 'form-control fieldError' : 'form-control'">

            <p th:if="${#fields.hasErrors('zipcode')}"
               th:errors="*{zipcode}">Incorrect data</p>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>